# Workshop 1: Python

In [2]:
import numpy as np
import math

# Overview

This workshop aims to introduce you to fundamental concepts of Python.

In [3]:
var = 789

In [4]:
var

789

In [5]:
var = var - 89
var

700

In [6]:
700/7

100.0

In [7]:
var1 = 'bits'

In [8]:
var1

'bits'

In [9]:
var1[0]

'b'

In [10]:
len(var1)

4

In [11]:
var1.upper()

'BITS'

In [12]:
var1.replace("t","d")

'bids'

In [13]:
"Rutgers " + var1

'Rutgers bits'

In [14]:
arr1 = np.array([2, 6, 12, 50, 68])
arr1

array([ 2,  6, 12, 50, 68])

In [15]:
arr1[2] = 20
arr1

array([ 2,  6, 20, 50, 68])

In [19]:
var2 = arr1[2]
var2

20

In [45]:
mylist = [11,12,13,14]
mylist

[11, 12, 13, 14]

In [47]:
mylist[0] = 0
mylist

[0, 12, 13, 14]

In [48]:
mylist[0]

0

In [49]:
mylist1 = ['cherry', 'kiwi', 'watermelon']
mylist1

['cherry', 'kiwi', 'watermelon']

In [50]:
mylist1.remove('cherry')
mylist1

['kiwi', 'watermelon']

# Conditional Statements

In [54]:
# Example 1 - if/else = check if z is less than 10

z = 8

if z > 10:
    print('z is greater than 10!')
else:
    print('z is less than or equal to 10')

z is less than or equal to 10

In [20]:
# Example 2 - use elif

z = 8

if z > 10:
    print('z is great than 10!')
elif z < 10:
    print('oh gee we small')
else:
    print('it must be 10')

oh gee we small

# Loops

In [21]:
# Example 1: For loop

lst = [0,1,2,3,4]
for i in lst:
    lst[i] = i**2
lst

[0, 1, 4, 9, 16]

In [25]:
lst*2

[0, 1, 4, 9, 16, 0, 1, 4, 9, 16]

In [11]:
arr2 = [0,1,2,3,4,5,6,7]
for i in range(0,5):
    arr2[i] = i**2
arr2

[0, 1, 4, 9, 16, 5, 6, 7]

In [12]:
arr2 = [0,1,2,8,4,5,6]
for i in range(0,7):
    arr2[i] = arr2[i]**2
arr2

[0, 1, 4, 64, 16, 25, 36]

In [13]:
# Example 2: for loop for even vs odd

for i in range(0,10):
    if i%2 == 0:
        print(i, " is even")
    else:
        print(i, " is odd")

0  is even
1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd

In [14]:
# Example 3: While loop

i = 0
while i<9:
    print("i:", i)
    i += 1

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8

In [15]:
# Example 4: Iterating with lists

char = ['c','h','e','r','r','y']
fruit = ""
for i in char:
    fruit += i
    
print('fruit:', fruit)

fruit: cherry

In [17]:
# Example 5: The break statement

candies = ['Kit-Kat', 'Twix', 'Skittles', 'Starburst', 'Crunch']

for i in candies:
    if i == "Skittles":
        break
    else:
        print(i)

Kit-Kat
Twix

In [18]:
# Example 6: The continue statement

candies = ['Kit-Kat', 'Twix', 'Skittles', 'Starburst', 'Crunch']
for i in candies:
    if i == "Skittles":
        continue
    else:
        print(i)

Kit-Kat
Twix
Starburst
Crunch

# Functions

In [23]:
# Example 1: checks if the number is even

def is_even(num):
    if num % 2 == 0:
        return "This number is even!"
    else:
        return "This number is odd!"
        
is_even(3)

'This number is odd!'

In [22]:
# Example 2: returns absolute value of the number

def abs_val(num):
    return abs(num)

abs_val(-3)

3